.titol_nivel1{
    color:#333333;
}
.titol_nivel2{
    color:#666666;
}
.titol_nivel3{
    color:#999999;
}
p{
    color: #666666;
}
.text_noticia{
    color: #666666;
}
.linies_separadors{
    border: solid #ccc 0.5px;
}
.fondo_titol{
    background-color: #f5f5f5;
}
.fondo_footer{
	background-color:#efefef;
}
#text_cerca{
    border-color: rgb(221, 221, 221);
}
#icon_cerca{
    border-color: #BD0000;
    color: #BD0000;
}
.font_capcerela{
    background-color: #333333;
}
.titol_noticia{
    color: #C00000;
}
.titol_principal{
    color:#DDDDDD;
}
.cos{
	background-color: #ffc;
}
.color_link{
	color:#999999;
}
.docent::before{
    color: #bf0000;
}
.enllasos{
    color:#333333;
}
.lista_index{
    color: #666666;
}