body{
    margin: 0px;
    padding: 0px;
}
.titol_nivel1{
	margin: 3px;
}
.capcelera{
    width: 100%;
    float: left;
}
.cos_pagina{
    width: 960px;
    margin: auto;
}
.col-md{
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
}
.contenido_logo_capcelera{
    margin-top: 11.2px;
    margin-bottom: 5px;
}
.logo_capcerela{
    width: 172px;
    height: 29px;
}

.from_margin{
    margin-top: 10px;
}
.div_cerca{
    position: relative;
}
#text_cerca{
    border: 1px;
    margin: 11.2px 0px 6px 10px;
    width: 20em;
    height: 2.2em;
    font-size: 0.875em;
    float: right;
}
#icon_cerca{  
    height: 33px;
    width: 3em;
    position: absolute;
    top: 11px;
    right: 0px;
}
.titol_capcerela{
    padding: 0px;
    margin:0px;
	padding-top: -5px;
	padding-bottom: 5px;
}

.sub_titol_capcerela{
    padding: 10px 0px 10px 0px;
}
.footer{
	float:left;
	margin-bottom:-16px;
}
.col-md-2{
	width:20%;
	float:left;
}
.col-sm-8{
	width:80%;
	float:left;
}

.footer_text{
	margin-top:0px;
}
.div_footer{
	margin-top: 30px;
    margin-bottom: 70px;
}
.noticia_text{
    width: 33%;
    float:left;
    margin-left: 1%;
}
.noticia_photo{
    width: 66%;
    float:right;
}
.noticia_img{
    width: 650px;
    height: 200px;
}
.ultimes_noticies{
    width: 100%;
    float: left;
    box-shadow: 2px  2px 5px #b9b9b9;
    margin-bottom: 1%;
}
.llistat{
    float: left;
    width: 50%;
}
.photo_equip{
    width: 40%;
    float:left;
}
.docent{
    padding: 2%;
}
.equip_img{
    width: 100%;
    height: 30%;
}
.altura_pagina{
    height: 330px;
}
.nom_equip{
    text-align: center;
}
.cont_nom_equip{
    width: 55%;
    float:left;
    margin-left: 1%;
    padding-top: 15%;
}
.descripcio{
    padding-top: 1%;
}
.img_nom {
    width: 100%;
    float: left;
    box-shadow: 2px  2px 5px #b9b9b9;
    margin-top: 1%;
    margin-bottom: 1%;
}
.logo_div_llista{
    float: left;
    width: 100%;
}
.img_llista{
    margin-left: 40px;
    height:50px;
    width:150px; 
}