.font_principal{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
.titol_nivel1{
    font-size: 35px;
}
.titol_nivel2{
    font-size: 28px;
}
.titol_nivel3{
    font-size: 24px;
}
.paragrafo{
    font-size: 16px;
}
.text_noticia{
    font-size: 14px;
}
.destacat{
    font-size: 20px;
}
.footer_text{
	font-size:12px;
}
.lista{
    list-style: none;
}
.docent::before{
    content: "\2022";
    font-size: 1.05em;
}
.docent{
    border-bottom: solid #dddddd 1px;
}
.docent_enllas{
    text-decoration: none;
}
.docent_enllas:hover{
    text-decoration: underline !important;
}